html,
body {
  margin: 0;
  padding: 0;
}

.kr-font,
.kr-font * {
  font-family: "Malgun Gothic", "맑은 고딕", "Apple SD Gothic Neo",
    "Noto Sans KR", "Nanum Gothic", system-ui, sans-serif !important;

  font-synthesis: none;
  text-rendering: geometricPrecision;
}

button,
input,
textarea {
  font: inherit;
}
